<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE editor_palette_item PUBLIC '-//NetBeans//Editor Palette Item 1.0//EN' "http://www.netbeans.org/dtds/editor-palette-item-1_0.dtd">

<!--
    Document   : menu.xml
    Created on : November 04, 2006
    Author     : Mohamed El-Geish
    Description: Palette item description for Menu
-->

<editor_palette_item version='1.0'>
    <class name="org.netbeans.modules.plethora.peers.MenuPeer"/>
    <icon16 urlvalue="org/netbeans/modules/plethora/resources/peers/menu.png" />
    <icon32 urlvalue="org/netbeans/modules/plethora/resources/peers/menu32.png" />
    <description localizing-bundle="org.netbeans.modules.plethora.resources.Bundle" display-name-key="NAME_Menu" tooltip-key="HINT_Menu" />
</editor_palette_item>